<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag 'lapescatamaulipas.jpg', class: 'center-image' %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<h2 class="color-white">Quienes somos</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90 bg-grey-2 tabs-page">
       <div class="container">
     	  <div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h2>Lapescatamaulipas.com</h2>
				</div>
			</div>
		  </div>
		  <div class="row">
				 <div class="col-md-12">
					<div class="simple-tab type-2 tab-wrapper">
						<div class="tabs-content tabs-wrap-style clearfix">
								<div class="tab-info active">
								   <div class="acc-body">
							        <div class="acc-body-block">
										<h5>Nosotros</h5>
										<p>Lapescatamaulipas.com es el primer portal especializado en ofrecer información sobre los diferentes hoteles y actividades con los que cuenta La Pesca, Tamaulipas. Contamos con la información más completa y detallada de los hoteles. Ven, conoce y explora cada rincón que La Pesca tiene para ti.</p>
									</div>
									<div class="acc-body-block">
										<h5>Misión</h5>
										<p>Nuestro objetivo es brindar a las personas un servicio de calidad en la planeación de su viaje con destino a La Pesca, Tamaulipas. Brindamos los mejores servicios para su reservación en hoteles y en la planeación de diferentes actividades que pueden realizar en su viaje.</p>
									</div>
									<div class="acc-body-block">
										<h5>Misión</h5>
										<p>Nuestro objetivo es brindar a las personas un servicio de calidad en la planeación de su viaje con destino a La Pesca, Tamaulipas. Brindamos los mejores servicios para su reservación en hoteles y en la planeación de diferentes actividades que pueden realizar en su viaje.</p>
									</div>
									<div class="acc-body-block">
										<h5>Oferta</h5>
										<p>Los precios que ofrecemos son los mismos que los hoteles manejan es decir ofrecemos los mismos precios que están en el mercado. Al reservar con nosotros ayudas a que más personas visiten La Pesca, ya que somos un medio que da promoción para que más personas visiten La Pesca y así juntos podamos fomentar el turismo hacia este hermoso destino de México.</p>
										<p>Te invitamos a hacer todas tus reservaciones con nosotros para que ayudes a crecer este gran proyecto donde nuestro principal objetivo es fomentar el turismo y ayudar al comercio local.</p>
									</div>
									<div class="acc-body-block">
										<h5>Sobre el portal</h5>
										<p>Este proyecto independiente surgió por la alta demanda de información sobre todo lo relacionado a La Pesca, Tamaulipas. El proyecto cuenta con una Fan Page de Facebook con más de 20,000 seguidores, mediante la cual se ofrece información turística y fotografías a los seguidores, a través de esta página cualquier persona nos puede contactar y les resolvemos sus dudas a la brevedad.</p>
									</div>
								</div>
								</div>
							</div>
				 </div>
			  </div>
	   </div>
	 </div>
	</div>
