<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag 'faqs.jpg', class: 'center-image' %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<ul class="banner-breadcrumb color-white clearfix">
						<li><a class="link-blue-2" href="#">home</a> /</li>
						<li><a class="link-blue-2" href="#">pages</a> /</li>
						<li><span>faq</span></li>
					</ul>
					<h2 class="color-white">FAQS</h2>
				</div>
			</div>
		</div>
	</div>
</div>


<!--ACCORDION-->
<div class="main-wraper bg-grey-2 padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h2>Preguntas frecuentes</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="accordion style-5">
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Cómo puedo confirmar una reservación?</div>
						<div class="acc-body">
							<p>Confirmar tu hospedaje es muy sencillo, únicamente tienes que seleccionar el hotel de tu interés, buscar las fechas en que solicitas tu hospedaje para validar la disponibilidad, una vez autorizada la disponibilidad escoge el medio de pago que mas te convenga y ¡listo! Tienes el hospedaje de tu viaje confirmado.</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Cuáles son los pasos para confirmar mi hospedaje?</div>
						<div class="acc-body">
							<p>Para confirmar tu hospedaje es necesario haber cubierto el 50% del total de la reservación</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Qué tipo de pago aceptan?</div>
						<div class="acc-body">
							<ul>
								<li>Tarjeta Debito/Credito</li>
								<li>Depósito Bancario</li>
								<li>Transferencia</li>
							</ul>
							<p>Puedes realizar tu reservación en tiempo real e inmediata mediante pago con tarjeta de crédito o debido,  si no cuentas con tarjeta de debito o crédito puedes realizar tu deposito en Oxxo o Seven Eleven.</p>
							<p>Si tu reservación es por medio de deposito en efectivo ten en cuenta que si no se recibe tu comprobante de pago en 24 horas en temporada regular y de 12 horas en temporada alta (Temporada alta  Semana Santa y Verano Junio y Julio)  la habitación quedará liberada y se podrá reservar sin previo
								aviso.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="accordion style-5">
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Puedo agregar personas extra a mi habitación?</div>
						<div class="acc-body">
							<h5>Si</h5>
							<p>En todos los hoteles es posible agregar personas extras a la habitación aunque cada uno tiene su tarifa por personas extra, los costos para agregar alguna persona adulta o menor extra ronda en promedio de $50 hasta $100 pesos por noche.</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Qué servicios incluye mi hotel?</div>
						<div class="acc-body">
							<p>Puedes encontrar lo que incluye cada hotel seleccionando el hotel de tu interés.</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Los precios anunciados son los reales?</div>
						<div class="acc-body">
							<h5>Sí</h5>
							<p>Todos los precios anunciados son los reales y los precios que actualmente manejan los hoteles. Lapescatamaulias.com se actualiza inmediatamente una vez que las habitaciones no estén disponibles o cuando existen un cambio de tarifa por temporada.</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Con cuanto tiempo de anticipación puedo hacer una reservación?</div>
						<div class="acc-body">
							<p>La disponibilidad varia y las habitaciones se agotan rápido en temporadas altas por lo que recomendamos que una vez tengas tu viaje con seguridad confirmes tu hospedaje ya sea con meses o semanas de anticipación, te recomendamos que no dejes todo para el último y hagas tu reservación desde el momento que tengas tu viaje organizado y planeado. </p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Puedo hacer una cancelación?</div>
						<div class="acc-body">
							<h5>Sí</h5>
							<p>Cancelando con mínimo 5 días de anticipación en temporada alta y 10 días de anticipación en temporada baja. Ten en cuenta que no es posible realizar un reembolso únicamente se abona tu anticipo a tu próxima reservación con un vencimiento de 1 año desde el día que estaba pronosticado la entrada de tu hospedaje.</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Cómo se si tienen fechas disponibles el día que me interesa?</div>
						<div class="acc-body">
							<p>Nuestro portal funciona de manera automatizada por lo que las habitaciones que se muestran en la fecha que solicitas tu hospedaje son en tiempo real. Si el hotel y tipo de habitación no se muestran es porque el hotel esta saturado en esa fecha en que solicitas tu hospedaje, te invitamos a reservar en un que si tenga disponibilidad.</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Cómo se si mi reservación esta confirmada?</div>
						<div class="acc-body">
							<p>Al momento que realices algún pago se te enviara una confirmación a tu correo con los datos de tu reserva y un código de reservación que te servirá de referencia.</p>
						</div>
					</div>
					<div class="acc-panel">
						<div class="acc-title"><span class="acc-icon"></span>¿Los precios anunciados son los mismos en semana santa?</div>
						<div class="acc-body">
							<p>Los precios varían dependiendo la temporada, puedes filtrar las fechas en que te interesa tu hospedaje y el sistema te arrojara el precio de la habitación que solicitas en tu fecha de interés.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
