<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag 'mapa-aereo.png', class: "center-image" %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h2 class="color-white">Como Llegar</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90 bg-grey-2 tabs-page">
	<div class="top-baner header2-baner">
		<div id="map-canvas" class="style-1" data-lat="23.7879028" data-lng="-97.7759285" data-zoom="14" data-style="0">             </div>
		<div class="addresses-block">
			<a data-lat="23.777384" data-lng="-97.786813" data-string="El Fortin"></a>
		</div>
		<div class="addresses-block">
			<a data-lat="23.777791" data-lng="-97.785143" data-string="Hotel Paraiso"></a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h2>Cómo Llegar a La Pesca Tamaulipas.</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="simple-tab type-2 tab-wrapper">
					<div class="tabs-content tabs-wrap-style clearfix">
						<div class="tab-info active">
							<div class="acc-body">
								<div class="acc-body-block">
									<h5>Viniendo de Reynosa o Matamoros</h5>
									<p>Tome la carretera hacia Cd. Victoria, y 32 kilómetros después de San Fernando hay un entronque, ahí tome la Carretera Federal 180 a la izquierda y viaje 86 kms. hasta Soto la Marina donde está la "Y" griega doble a la izquierda hacia La Pesca , otros 50 kms.</p>
								</div>
								<div class="acc-body-block">
									<h5>Desde Monterrey</h5>
									<p>Si viene de Monterrey, tome la Carretera Nacional 85 hacia Linares hasta llegar a Cd. Victoria. Llegando a Cd. Victora toma el libramiento a la izquierda hacia Tampico y los señalamientos le indicarán cuándo ir hacia Soto la Marina. Llegando a Soto la Marina encontarás las indicaciones para tomar la carretera hacia La Pesca . De Cd. Victoria a La Pesca son 160 kilómetros.</p>
								</div>
								<div class="acc-body-block">
									<h5>De Veracruz o Tampico</h5>
									<p>Si viene de Veracruz ó Tampico, tome la Carretera Federal 180 y al llegar a Est. Manuel toma la carretera a Aldama (180) hasta llegar a Soto la Marina. Desde Tampico a La Pesca son 280 kms.</p>
								</div>
								<div class="acc-body-block">
									<h5>Desde San Luis Potosí y el Centro de México</h5>
									<p>Si viene de San Luis Potosí y el Centro de México, tome la autopista a Saltillo, saliendo de San Luis Potosí viaje 106 kms. hasta llegar al entronque el Huizache y toma la Carretera Federal 80 hacia Cd. Victoria ó Cd. del Maíz y recorra 58 kms. hasta llegar al entronque con la Carretera Federal 101 hacia la izquierda a Cd. Victoria y viaje 180 kms.</p>
									<p>Te invitamos a hacer todas tus reservaciones con nosotros para que ayudes a crecer este gran proyecto donde nuestro principal objetivo es fomentar el turismo y ayudar al comercio local.</p>
								</div>
								<div class="acc-body-block">
									<h5>Por tierra en autobus</h5>
									<p>Si viene del Sur (Tampico, Veracruz) puedes salir de Tampico hasta Soto la Marina, y ahí tomar un autobús Tamaulipecos de la Costa a la Playa La Pesca. Si viene del Centro y Noroeste(San Luis, N.L., Cohauila, etc.), tome un autobús a Cd. Victoria, Tamaulipas, y de Cd. Victoria tome un autobús Tamaulipecos de la Costa hasta la Playa La Pesca. Si vienes del Norte (norte de Tamaulipas o USA), toma un autobús hasta Soto la Marina, y de ahí otro a Playa La Pesca.</p>
								</div>
								<div class="acc-body-block">
									<h5>Por tierra en autobus</h5>
									<p>La Pesca cuenta con un aeropuerto para naves pequeñas, ya que la aeropista cuenta con 2.700 km de longitud. Actualmente está a cargo de la Secretaría de Marina con el personal de el Centro de Adiestramiento del Golfo ubicado en La Pesca. La aeropista está asfaltada, pero no cuenta con servicio de combustible ni frecuencia de radio. Puede aterrizar cuidando el tráfico aéreo.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
