<!-- DETAIL WRAPPER -->
<div class="detail-wrapper">
	<div class="container">
		<div class="detail-header">
			<div class="row">
				<div class="col-md-12">
					<div class="detaile-title">
					    <ul class="list-breadcrumb clearfix">
							<li><a class="color-grey link-dr-blue" href="#">home</a> /</li>
							<li><a class="color-grey link-dr-blue" href="#">tours</a> /</li>
							<li><span class="color-dr-blue">tour details</span></li>
						</ul>
						<h2>Pesca en Lancha</h2>
						    <div class="top-header-block fl">
								<img src="img/mail_icon_dark.png" alt="">
								  <a class="link-dr-blue" href="mailto:contacto@lapescatamaulipas.com">contacto@lapescatamaulipas.com</a>
							</div>
							<div class="top-header-block fl">
								<img src="img/phone_icon_dark.png" alt="">
								  <a class="link-dr-blue" href="tel:">01 (835) 327 1212</a>
							</div>
					  <div class="detail-price color-dark-2">desde  <span class="color-dr-blue"> $1,300</span> por lancha</div>
					</div>
			    </div>
	       	</div>
	       	<div class="row">
	         	 <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                 <div class="car-tabs">
					 <div class="drop-tabs">
					   <b>hotels</b>
						<a href="#" class="arrow-down"><i class="fa fa-angle-down"></i></a>
						 <ul class="nav-tabs tpl-tabs tabs-style-1">
							<li class="active click-tabs"><a href="#one" data-toggle="tab" aria-expanded="false"><span class="fa fa-camera"></span>Photos</a></li>
							<li class="click-tabs"><a href="#two" data-toggle="tab" aria-expanded="false"><span class="fa fa-map-marker"></span>On the map</a></li>
							<li class="click-tabs"><a href="#three" data-toggle="tab" aria-expanded="false"><span class="fa fa-video-camera"></span>Video</a></li>
							<li class="click-tabs"><a href="#four" data-toggle="tab" aria-expanded="false"><span class="fa fa-comment"></span>Reviews</a></li>
						 </ul>
					 </div>

					<div class="tab-content tpl-tabs-cont section-text t-con-style-1">

                    <div class="tab-pane active in" id="one">
                        <div class="detail-top slider-wth-thumbs style-1 arrows">
						<div class="swiper-container thumbnails-preview" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
			                <div class="swiper-wrapper">
		                    	<div class="swiper-slide active" data-val="0">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_1_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="1">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_2_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="2">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_3_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="3">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_4_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="4">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_5_b.jpg" alt="">
		                    	</div>
		                    	<div class="swiper-slide" data-val="5">
		                    		 <img class="img-responsive img-full" src="img/cars/gal_6_b.jpg" alt="">
		                    	</div>
		                    </div>
			                <div class="pagination pagination-hidden poin-style-1"></div>
						    <div class="arrow-wrapp arr-s-3">
								<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
								<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
							</div>
			            </div>
			            <div class="swiper-container thumbnails" data-autoplay="0" data-loop="0" data-speed="500" data-slides-per-view="responsive" data-xs-slides="3" data-sm-slides="5" data-md-slides="5" data-lg-slides="5"
			            data-add-slides="5">
			                <div class="swiper-wrapper">
								<div class="swiper-slide current active" data-val="0">
									<img class="img-responsive img-full" src="img/cars/gal_1_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="1">
									<img class="img-responsive img-full" src="img/cars/gal_2_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="2">
									<img class="img-responsive img-full" src="img/cars/gal_3_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="3">
									<img class="img-responsive img-full" src="img/cars/gal_4_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="4">
									<img class="img-responsive img-full" src="img/cars/gal_5_s.jpg" alt="">
								</div>
								<div class="swiper-slide" data-val="5">
									<img class="img-responsive img-full" src="img/cars/gal_6_s.jpg" alt="">
								</div>
							</div>
							<div class="pagination hidden"></div>
						</div>
					</div>
					</div>

					<div class="tab-pane" id="two">
                      <div id="map-canvas" class="style-1" data-lat="33.664467" data-lng="-117.601586" data-zoom="6" data-style="6">             </div>
                        <div class="addresses-block">
							<a data-lat="36.1920723" data-lng="-112.0853326" data-string="Santa Monica Hotel"></a>
						</div>
					</div>
					<div class="tab-pane" id="three">
                       <iframe src="https://player.vimeo.com/video/140416017?title=0&amp;byline=0&amp;portrait=0"></iframe>
					</div>
					<div class="tab-pane" id="four">
                     <div class="reviews">
                      <div class="row">
                      	<div class="col-md-6">
                      		<div class="progress-wrapper">
                      		  <h4>Traveler rating</h4>
								<div class="progress-block">
									<div class="progress-label">Excellent</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="100" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
								<div class="progress-block">
									<div class="progress-label">Very Good</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="75" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
								<div class="progress-block">
									<div class="progress-label">Average</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="50" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
								<div class="progress-block">
									<div class="progress-label">Poor</div>
									<div class="progress">
										<div class="progress-bar bg-dr-blue-2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-to="60" data-speed="3000" style="width: 0%;">
										</div>
									</div>
								</div>
							</div>
                      	</div>
                      	<div class="col-md-6">
                      	  <div class="summary">
                      	  	 <h4>Summary</h4>
                     		<div class="summ-block">
                    		  <h5>Equipment</h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                     		<div class="summ-block">
                    		  <h5>Climate </h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                     		<div class="summ-block">
                    		  <h5>Facility</h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                      		<div class="summ-block">
                    		  <h5>Safely</h5>
                     		  <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							  </div>
                     		</div>
                      	  </div>
                      	</div>
                      </div>
                      <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">Write a review</a>
                      </div>
					</div>
				    </div>
				 </div>
				</div>

	       		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
	       			<div class="total-summ">
							<div class="sidebar-rating">
								<div class="tootal">
								  <span class="checkbox-text">Extras </span>
									<span class="money-sum">721$</span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-1" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-1">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Carnada viva</span>
									</label>
									<span class="money-sum"></span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-2" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-2">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Renta de cañas</span>
									</label>
									<span class="money-sum"></span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-3" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-3">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Transporte 4x4</span>
									</label>
									<span class="money-sum"></span>
								</div>
								<div class="input-entry color-3">
									<input class="checkbox-form" id="text-4" name="checkbox" value="climat control" type="checkbox">
									<label class="clearfix" for="text-4">
										<span class="sp-check"><i class="fa fa-check"></i></span>
										<span class="checkbox-text">Gasolina</span>
									</label>
									<span class="money-sum"></span>
								</div>
								<a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>
							</div>
						</div>
	       		</div>
	       		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
	       			<div class="detail-company">
       				<div class="detail-block bg-red-3">
       					<h4 class="color-white">DETALLES</h4>
       					<div class="details-desc">
							<p class="color-pink">Categoría:  <span class="color-white">ecoturismo</span></p>
							<p class="color-pink">precio: <span class="color-white">$100 / persona</span></p>
							<p class="color-pink">proveedor: <span class="color-white">ecoave</span></p>
							<p class="color-pink">rate: <span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span></p>
							<p class="color-pink">contratar guía: <span class="color-white">cargo extra</span></p>
							<p class="color-pink">Tiempo de renta: <span class="color-white">45 minutos</span></p>
							<p class="color-pink">TOTAL PRICE: <span class="color-white">$620.00</span></p>
						</div>
						<div class="details-btn">
							<a href="#" class="c-button b-40 bg-tr-1 hv-white"><span>view on map</span></a>
						</div>
       				</div>
	       			</div>
	       		</div>
	       	</div>
	       	<div class="row">
	       		<div class="col-md-12">
       		     <div class="detail-content">
	       		  <div class="detail-content-block">
	       		  	 <h3>Tour description:</h3>
	       		  	   <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos cum, placeat harum delectus fuga ea neque voluptate. Sint placeat eligendi quisquam libero, possimus quibusdam voluptas consequatur temporibus fugiat! Qui, architecto.</span>
	       		  	   <span>Nisi quibusdam inventore quasi quam dolores, veniam, enim quisquam nam sequi, rem eaque unde? Quos dolor officia ipsum sapiente numquam qui pariatur, libero deserunt, repellendus obcaecati quia deleniti? Deserunt, debitis.</span>
	       		  	   <span>Ipsa rerum aspernatur a nam autem, est eos hic blanditiis vitae eius, reprehenderit voluptatibus obcaecati debitis dolor excepturi voluptatem omnis molestiae unde sequi! Explicabo totam, iure itaque similique incidunt atque?</span>
	       		  	   <span>Ipsa culpa ullam sequi perspiciatis. Perferendis sit aperiam impedit doloribus mollitia aliquam obcaecati laborum laboriosam magni consectetur est suscipit aliquid debitis unde fugiat dolor temporibus iusto itaque rerum, velit exercitationem.</span></p>
	       		  </div>
	       		 </div>
	       		</div>
	       	</div>
	       	<div class="row">
	       		<div class="col-md-12">
	       			<ul class="comments-block">
						<li class="comment-entry clearfix">
							<img class="commnent-img" src="img/detail/comment_1.jpg" alt="">
							<div class="comment-content clearfix">
								<div class="tour-info-line">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
							  	 	</div>
									<div class="tour-info">
							  	 		<img src="img/people_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
							  	 	</div>
								</div>
								<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
								<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
							</div>
							<ul class="comments-block">
								<li class="comment-entry clearfix">
									<img class="commnent-img" src="img/detail/comment_2.jpg" alt="">
									<div class="comment-content clearfix">
										<div class="tour-info-line">
											<div class="tour-info">
									  	 		<img src="img/calendar_icon_grey.png" alt="">
									  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
									  	 	</div>
											<div class="tour-info">
									  	 		<img src="img/people_icon_grey.png" alt="">
									  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
									  	 	</div>
										</div>
										<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
										<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="comment-entry clearfix">
							<img class="commnent-img" src="img/detail/comment_3.jpg" alt="">
							<div class="comment-content clearfix">
								<div class="tour-info-line">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
							  	 	</div>
									<div class="tour-info">
							  	 		<img src="img/people_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
							  	 	</div>
								</div>
								<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
								<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
							</div>
						</li>
						<li class="comment-entry clearfix">
							<img class="commnent-img" src="img/detail/comment_1.jpg" alt="">
							<div class="comment-content clearfix">
								<div class="tour-info-line">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
							  	 	</div>
									<div class="tour-info">
							  	 		<img src="img/people_icon_grey.png" alt="">
							  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
							  	 	</div>
								</div>
								<div class="comment-text color-grey">Nunc a tincidunt lectus, vitae molestie ante. Maecenas feugiat commodo sem facilisis vulputate. Integer fermentum laoreet sollicitud insollicitudin sollicitudin.</div>
								<a class="comment-reply c-button b-26 bg-red-3 hv-red-3-o" href="#">Reply</a>
							</div>
						</li>
					</ul>
	       		</div>
	       	</div>
       	</div>
	</div>
	<div class="main-wraper padd-40">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<form class="contact-form" action="#">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your email">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="drop-wrap drop-wrap-s-3 color-2">
							  	<div class="drop">
								 	<b>Department</b>
									<a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
									<span>
									    <a href="#">01 kids</a>
										<a href="#">02 kids</a>
										<a href="#">03 kids</a>
										<a href="#">04 kids</a>
										<a href="#">05 kids</a>
									</span>
							   	</div>
							</div>
						</div>
						<div class="col-xs-12">
							<textarea class="area-style-1 color-1" required="" placeholder="Enter your comment"></textarea>
							<button type="submit" class="c-button bg-red-3 hv-red-3-o"><span>submit comment</span></button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="contact-about">
					<h4 class="color-dark-2"><strong>contact info</strong></h4>
					<p class="color-grey-3">Donec gravida euismod felis, quis dictum justo scelerisque in. Aenean nec lacus ipsum. Suspendisse vel lobortis libero, eu imperdiet purus.  Aenean nec lacus ipsum.</p>
				</div>
				<div class="contact-info">
					<h4 class="color-dark-2"><strong>contact info</strong></h4>
					<div class="contact-line color-grey-3"><img src="img/phone_icon_2_dark.png" alt="">Phone: <a class="color-dark-2" href="tel:93123456789">+93 123 456 789</a></div>
					<div class="contact-line color-grey-3"><img src="img/mail_icon_b_dark.png" alt="">Email us: <a class="color-dark-2 tt" href="#">let’s_travel@world.com</a></div>
					<div class="contact-line color-grey-3"><img src="img/loc_icon_dark.png" alt="">Address: <span class="color-dark-2 tt">Aenean vulputate porttitor</span></div>
				</div>
				<div class="contact-socail">
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-facebook"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-twitter"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-skype"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-google-plus"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-instagram"></i></a>
					<a class="color-grey-3 link-dr-blue-2" href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
