<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag "lapescatamaulipas.jpg", class: "center-image", alt: "" %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<h2 class="color-white">Quienes somos</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90 bg-grey-2 tabs-page">
       <div class="container">
     	  <div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h2>Políticas de privacidad</h2>
				</div>
			</div>
		  </div>
		  <div class="row">
				 <div class="col-md-12">
					<div class="simple-tab type-2 tab-wrapper">
						<div class="tab-nav-wrapper">
							<div  class="nav-tab  clearfix">
								<div class="nav-tab-item active">
									Aviso de privacidad
								</div>
							</div>
						</div>
						<div class="tabs-content tabs-wrap-style clearfix">
								<div class="tab-info active">
								   <div class="acc-body">
							        <div class="acc-body-block">
								      <div class="alert bg-1">
										<span>Al realizar alguna reservación o llenar los formularios de contacto se aceptan los términos y condiciones del servicio.</span>
										<i class="fa fa-times-circle-o"></i>
									  </div>
										<h5>AVISO DE PRIVACIDAD</h5>
										<p>Este aviso forma parte del uso del sitio web <b><u>WWW.LAPESCATAMAULIPAS.COM</b></u> en cumplimiento con las normas establecidas por la Ley Federal de Protección de Datos Personales en Posesión de Particulares.</p>
										<p>Los datos personales recolectados en este sitio web incluyen, pero no son limitados a, nombre y apellidos, número telefónico y correo electrónico. Esta información es recolectada y guardada cuando elige hacer una reservación ya sea en línea, vía telefónica o a través de cualquier otro medio. </p>
									</div>
									<div class="acc-body-block">
										<h5>Confirmación</h5>
										<p>Las reservaciones están sujetas a disponibilidad hasta ser confirmadas; se considera confirmada una reservación cuando se ha cubierto el pago correspondiente al 50% del total de la reservación o según sea su caso y haya enviado su comprobante de pago al medio proporcionado por <b>LaPescaTamaulipas.com</b>. La disponibilidad no puede ser garantizada hasta haber recibido el pago de apartado (anticipo) según aplique.</p>
								   </div>
								   <div class="acc-body-block">
										<h5>oferta</h5>
										<p>Las tarifas mostradas en el sitio Web son las mismas proporcionadas por el hotel, <b>LaPescaTamaulipas.com</b> en ningún momento modificará las tarifas, estas siempre serán las mismas que el hotel maneja al público. </p>
										<div class="row">
											<div class="col-md-6">
												<h5>USO Y PROTECCIÓN DE DATOS PERSONALES</h5>
										<p>Se ha implementado un sistema de seguridad sofisticado para proteger la información de nuestros clientes de accesos no autorizados. </p>
											</div>
											<div class="col-md-6">
												<h5>DETALLE DEL SERVICIO</h5>
										<p><b>LaPescaTamaulipas.com</b> presta servicios únicamente como agente intermediario entre el cliente y el proveedor de los servicios turísticos promocionados en esta página <a href="www.lapescatamaulipas.com">www.lapescatamaulipas.com</a>. La agencia no puede asumir ninguna responsabilidad con los clientes por actos u omisiones por parte de los proveedores, en virtud de que no tiene control alguno o relación legal sobre sus operaciones.</p>
											</div>
										</div>
									</div>
									<div class="acc-body-block">
									   <h5>CAMBIOS Y ACEPTACIÓN DE ESTE AVISO DE PRIVACIDAD</h5>
									     <p class="tt"><span>El administrador de este sitio web se reserva el derecho de modificar o cambiar este Aviso de Privacidad en cualquier momento de ser necesario, se recomienda su revisión continua. </span></p>
											 <p class="tt"><span>La aportación de datos a LaPescaTamaulipas.com mediante cualquier medio significa que ha leído, entendió y constituye la aceptación de los términos expuestos en el presente aviso de privacidad.</span></p>
									</div>
									<div class="acc-body-block">
										<h5>COMO SE UTILIZANLOS DATOS</h5>
										<div class="row">
											<div class="col-xs-12 col-md-6">
												<ul class="color-list">
													<li>Los datos proporcionados podrán tener uno o más de los siguientes tratamientos:</li>
													<li>Procesar, completar, cancelar los servicios contratados a través de <b>LaPescaTamaulipas.com</b> por cualquier medio: electrónico o telefónico.</li>
													<li>Llamadas telefónicas para confirmar disponibilidad.</li>
													<li>Envío de notificaciones a través de correo electrónico que informan sobre el itinerario de viaje.</li>
													<li>Para mantener y actualizar constantemente bases de datos.</li>
												</ul>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<p><span>Las tarifas mostradas en el sitio Web son las mismas proporcionadas por el hotel, <b>LaPescaTamaulipas.com</b> en ningún momento modificará las tarifas, estas serán las mismas que el hotel maneja al público. </span></p>
											</div>
										</div>
								   </div>
								</div>
								</div>
					  </div>
				 </div>
			  </div>
	   </div>
	 </div>
	</div>
