<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag "lapescatamaulipas.jpg", class: "center-image", alt: "" %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<h2 class="color-white">Quienes somos</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90 bg-grey-2 tabs-page">
       <div class="container">
     	  <div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h2>Terminos del servicio</h2>
				</div>
			</div>
		  </div>
		  <div class="row">
				 <div class="col-md-12">
					<div class="simple-tab type-2 tab-wrapper">
						<div class="tab-nav-wrapper">
							<div  class="nav-tab  clearfix">
								<div class="nav-tab-item active">
									POLITICAS DEL SERVICIO
								</div>
								<div class="nav-tab-item">
									DESLINDE DE RESONSABILIDADES
								</div>
								<div class="nav-tab-item">
									POLÍTICAS DE CANCELACIÓN
								</div>
								<div class="nav-tab-item">
									DECLARACIONES
								</div>
							</div>
						</div>
						<div class="tabs-content tabs-wrap-style clearfix">
								<div class="tab-info active">
								   <div class="acc-body">
							        <div class="acc-body-block">
								      <div class="alert bg-1">
										<span>LAPESCATAMAULIPAS.COM presta servicios únicamente como agente intermediario entre el cliente y el proveedor de los servicios turísticos.</span>
										<i class="fa fa-times-circle-o"></i>
									  </div>
										<h5>TERMINOS DEL SERVICIO</h5>
										<p>Las tarifas mostradas en el sitio Web son válidas únicamente al momento de su cotización, pueden cambiar sin previo aviso de acuerdo a las condiciones de cada proveedor mientras no hayan sido reservadas y confirmadas.</p>
									</div>
									<div class="acc-body-block">
										<h5>POLÍTICAS DE PAGO:</h5>
										<p>Puedes realizar tu reservación en tiempo real e inmediata mediante deposito bancario en bancos Banamex, Santander, Bancomer y Banorte, transferencia interbancaria o también puedes realizar tu deposito en Oxxo o Seven Eleven.</p>
										<p>Si tu reservación es por medio de deposito en efectivo ten en cuenta que es necesario reenviar tu comprobante de pago, si no se recibe tu comprobante de pago en 24 horas en temporada regular y de 12 horas en temporada alta (Temporada alta Semana Santa, Verano y días festivos) la habitación quedará liberada sin previo aviso.</p>
										<p>El cliente se obliga a hacer llegar vía correo electrónico el comprobante del (los) pago(s) realizado(s) cuando estos sean por depósito o transferencia bancaria y comprobar él mismo que la agencia recibió dicho pago, quedando <b>LaPescaTamaulipas.com</b> libre de cualquier responsabilidad en caso que el cliente no realice este proceso. </p>
										<p>Si el cliente realiza pagos por depósito bancario o transferencia electrónica y no lo notifica a la agencia, se entiende que la agencia no tiene manera de enterarse y/o aplicar dichos pagos a su cuenta, de tal manera que <b>LaPescaTamaulipas.com</b> queda libre de cualquier responsabilidad que se derive de esta situación, ya que es responsabilidad absoluta del cliente hacer del conocimiento a la agencia los pagos que realiza o abona a favor de los servicios que previamente contrató y no teniendo ningún derecho a ninguna reclamación por cancelaciones o reembolsos debido a esta situación.</p>
								   </div>
								   <div class="acc-body-block">
										<h5>REEMBOLSOS</h5>
										<p>Si por causas de fuerza mayor, los prestadores de los servicios contratados no pudieran proporcionarlos parcial o totalmente los servicios, <u>www.lapescatamaulipas.com</u> se limitará al reembolso del importe solamente.</p>
										<p><b>Lapescatamaulipas.com</b> se reserva el derecho de modificar el orden de los servicios indicados en el presente sitio web para un mejor desarrollo de los mismos o por causas que así lo justifiquen. Cuando <u>www.lapescatamaulipas.com</u> sea quien cancele alguna reservación por causas ajenas al cliente, estará obligado pero limitado a reembolsarle la totalidad de los anticipos o pagos que haya efectuado.</p>
										<div class="row">
											<div class="col-md-6">
												<h5>MÁS INFORMACIÓN IMPORTANTE</h5>
										<p>En caso de cancelación por parte del cliente, el reembolso aplicado se calculará de acuerdo a las Políticas de Cancelación.</p>
										<p>El hecho de que el cliente entregue un anticipo, implica su aceptación de las condiciones y responsabilidades especificadas en este sitio.</p>
											</div>
											<div class="col-md-6">
												<h5>FACTURACIÓN </h5>
										<p>En  caso de requerir factura fiscal debe solicitarla al correo <u>contacto@lapescatamaulipas.com</u> el mismo mes en que haya efectuado su pago. Cabe mencionar que por razones fiscales las facturas serán elaboradas después de generar el pago correspondiente.</p>
											</div>
										</div>
									</div>
									<div class="acc-body-block">
									   <h5>DISPONIBILIDAD</h5>
									     <p class="tt"><span>Las reservaciones están sujetas a disponibilidad hasta ser confirmadas, se considera confirmada una reservación cuando se ha cubierto el pago correspondiente y se cuenta con un cupón electrónico de reservación con número de confirmación. La disponibilidad no puede ser garantizada hasta haber recibido el pago total o el pago de apartado según aplique.</span></p>
									</div>
									<div class="acc-body-block">
										<h5>MODIFICACIONES A SU RESERVACIÓN</h5>
										<p>Si desea modificar o cancelar es necesario ponerse en contacto con un asesor de viaje a la brevedad posible teniendo a la mano nombre y número de reservación. Le pedimos leer nuestras POLÍTICAS DE CANCELACIÓN y le recordamos que cualquier cambio de reservación está sujeto a disponibilidad y a una re-cotización de tarifas.</p>
										<div class="row">
											<div class="col-md-12">
												<p><span><b>LAPESCATAMAULIPAS.COM</b> presta servicios únicamente como agente intermediario entre el cliente y el proveedor de los servicios turísticos.</span></p>
											</div>
										</div>
								   </div>
								</div>
								</div>
								<div class="tab-info">
								   <div class="acc-body">
										<h5>DESLINDE DE RESONSABILIDADES</h5>
										<p><b>LaPescaTamaulipas.com</b> presta servicios únicamente como agente intermediario entre el cliente y el proveedor de los servicios turísticos promocionados en esta página <u>www.lapescatamaulipas.com</u>. La agencia no puede asumir ninguna responsabilidad con los clientes por actos u omisiones por parte de los proveedores, en virtud de que no tiene control alguno o relación legal sobre sus operaciones.</p>
										<p>Usted libera a <u>www.lapescatamaulipas.coom</u> sobre cualquier responsabilidad ante cualquier falla o falta de cumplimiento por parte del Proveedor o Proveedores directos de los servicios turísticos, incluyendo sin limitación alguna cualquier falla o cumplimiento por parte de las proveedores de hospedaje, instructores de pesca, proveedores de deportes de aventura y en general sobre cualquier falla o falta de cumplimiento por parte de todos aquellos servicios turísticos que sean proporcionados de manera directa por uno o varios proveedores y no de manera directa por <b>LaPescaTamaulipas.com</b>.</p>
										<h5>MÁS INFORMACIÓN IMPORTANTE</h5>
										<p>Asimismo <u>www.lapescatamaulipas.com</u> no será responsable y usted libera de toda responsabilidad a este sitio respecto de:</p>
										<div class="row">
											<div class="col-xs-12 col-md-4">
												<ul>
													<li>La veracidad de las fotografías mostradas en el sitio web, ya que las mismas son solamente representativas y no garantizan que a su llegada todo sea exactamente igual como en ellas se aprecia y/o el sitio describe.</li>
													<li><b>LaPescaTamaulipas.com</b> no asumirá responsabilidad alguna y usted libera de toda responsabilidad a esta agencia, así como de toda reclamación, costo, gasto o pérdida que usted pudiera sufrir incluyendo cualquier herida personal o de terceras personas, accidentes o deceso, daños a pertenencias personales, pérdida de diversión, enojo, desilusión, angustia o frustración, ya sea mental o física.</li>
													<li><b>LaPescaTamaulipas.com</b> se declina de cualquier responsabilidad derivada del incumplimiento por parte del usuario de los reglamentos, reglas o condiciones establecidas por cada uno de los prestadores de servicios contratados.</li>
													<li><b>LaPescaTamaulipas.com</b> se reserva el derecho de rechazar a cualquier cliente en cualquier momento.</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-info">
									<div class="acc-body">
										<h5>POLÍTICAS DE CANCELACIÓN</h5>
										<p>Todas las solicitudes de cancelación deben ser solicitadas por escrito al correo <u>contacto@lapescatamaulipas.com</u> con toda la información de su reservación.</p>
										<h5>SOBRE LAS CANCELACIONES</h5>
										<p>Si la cancelación se realiza con más de 48 horas se generará un gasto administrativo por un 25% del valor del total de los servicios contratados.</p>
										<p>Cuando el pasajero decida por la razón que esta sea desistir de su hospedaje durante el periodo del mismo (ya estando en el hotel) queda entendido que es bajo su propia responsabilidad y que la agencia queda libre de cualquier responsabilidad y no existirá ningún reembolso.</p>
										<p>Las reservaciones canceladas de 2 a 0 días antes de la fecha del servicio independientemente a la razón de la misma, quedan sujetas a las políticas de cancelación en las cuales no se efectuará ningún reembolso.</p>
										<p>En temporadas Pico (Puentes, Semana Santa, Pascua, Junio, Julio y Agosto) dentro de las 72 horas antes de su llegada se cobrara 1 noche de cargo a la tarifa correspondiente más 25% de gastos administrativos o lo que resulte dentro de las políticas propias de cada hotel o prestador de servicio, cada uno de los hoteles tiene sus propias políticas y en algunos casos expresamente para la temporada pico no procede reembolso alguno.</p>
										<div class="accordion-form bg-grey-2">
											<form>
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<h5>¿TIENES MÁS DUDAS? </h5>
													<p>Todas las solicitudes de cancelación deben ser solicitadas por escrito al correo <u>contacto@lapescatamaulipas.com</u> con toda la información de su reservación.</p>
												</div>
												<div class="col-xs-12 col-sm-6">
													<%= form_tag("/contacto", method:"post", class:"contact-form") do %>
													<input type="hidden" name="name" value="none">
													<input type="hidden" name="email" value="none">
													<textarea name="comment" class="area-style-1 type-2 color-2" placeholder="Envíanos un mensaje..."></textarea>
													<input type="submit" class="c-button b-40 b-1 bg-dr-blue-2 hv-dr-blue-2-o" value="Enviar">
													<% end %>
												</div>
											</div>
											</form>
										</div>
									</div>
								</div>
								<div class="tab-info">
								   <div class="acc-body">
										<h5>DECLARACIONES</h5>
										<p>Usted declara bajo protesta de decir verdad, compareciendo por su propio y personal derecho que es una persona física o moral, mayor de edad, hábil, y con los medios suficientes o con capacitad económica e interés en adquirir los servicios de intermediación y reservación que aquí se especifican, y que para ello recurre al sitio de <b><u>www.lapescatamaulipas.com</u></b> que funciona únicamente como intermediario entre usted y los proveedores prestadores directos de servicios turísticos.</p>
										<p><b>LaPescaTamaulipas.com</b> declara ser una sociedad mercantil debidamente constituida conforme a las leyes mexicanas. Que se encuentra registrada ante las autoridades Hacendarias con el Registro Federal de Contribuyentes MSD120810K77. Que su objeto social consiste en la difusión y publicidad así como brindar información a turistas sobre establecimientos de hospedaje y prestar a los turistas servicios de reservación de sitios de atracción turística. </p>
										<p>Usted manifiesta, independientemente de su país de procedencia, que tiene la edad legal suficiente para usar este sitio web y obligarse ante los presentes Términos y Condiciones, así como para hacerse responsable a las obligaciones legales en que incurra por el uso de este sitio. Usted comprende que será económicamente responsable por todo el uso que haga de este sitio web.</p>
									</div>
								</div>
					  </div>
				 </div>
			  </div>
	   </div>
	 </div>
	</div>
