<!-- INNER-BANNER -->
<div class="inner-banner style-6">
	<%= image_tag 'lapescatamaulipas.jpg', class: 'center-image' %>
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
		  			<h2 class="color-white">Clima en La Pesca</h2>
  				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90 bg-grey-2 tabs-page">
       <div class="container">
     	  <div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h2>Lapescatamaulipas.com</h2>
				</div>
			</div>
		  </div>
		  <div class="row">
				 <div class="col-md-12">
					 <a href="http://www.accuweather.com/es/mx/la-pesca/236011/current-weather/236011" class="aw-widget-legal">
 					<!--
 					By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
 					-->
 					</a><div id="awtd1471997670737" class="aw-widget-36hour"  data-locationkey="" data-unit="f" data-language="es" data-useip="true" data-uid="awtd1471997670737" data-editlocation="true"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
				 </div>
			  </div>
	   </div>
	 </div>
	</div>
