@import "bootstrap.min";
@import "font-awesome.min";
@import "jquery-ui.min";
@import "custom";
@import "animate.min";
@import "jquery.dataTables.min";
@import "select2.min";
@import "index";
@import "switchery.min";
@import "fullcalendar.min";
@import "fullcalendar.print";
@import "prettify";
