<div class="sidebar-text-label bg-dr-blue color-white">información útil</div>

<div class="help-contact bg-grey-2">
  <h4 class="color-dark-2">¿Necesitas ayuda?</h4>
  <p class="color-grey">Si tienes alguna duda respecto a tu reservación, contamos con un horario de atención al cliente de 8:30 AM a 8:30 PM de Lunes a Sábado.</p>
  <a class="help-phone color-dark-2 link-dr-blue" href="tel:8351135017"><img src="/img/detail/phone24-dark.png" alt="">(835) 113 5017</a>
  <a style="font-size: 12px" class="help-mail color-dark-2 link-dr-blue" href="mailto:contacto@lapescatamaulipas.com"><img src="/img/detail/letter-dark.png" alt="">contacto@lapescatamaulipas.com</a>
</div>